Repository yorrick/voxstore: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-server, pyright-autopilot, pytest-server, pytest-autopilot, prettier

pyright-server:
  name: pyright (server)
  entry: bash -c 'unset VIRTUAL_ENV && cd app/server && uv run pyright'
  language: system
  pass_filenames: false

pyright-autopilot:
  name: pyright (autopilot)
  entry: bash -c 'unset VIRTUAL_ENV && cd autopilot && uv run pyright'
  language: system
  pass_filenames: false

pytest-server:
  name: pytest (server)
  entry: bash -c 'unset VIRTUAL_ENV && cd app/server && uv run pytest -x -q'
  language: system
  pass_filenames: false

pytest-autopilot:
  name: pytest (autopilot)
  entry: bash -c 'unset VIRTUAL_ENV && cd autopilot && uv run pytest -x -q'
  language: system
  pass_filenames: false

prettier:
  name: prettier (frontend)
  entry: npx prettier --write --check
  language: system

Apply ruff formatting to hook scripts
  .claude/hooks/post_tool_use.py
  .claude/hooks/pre_tool_use.py
Due: none

Fix SpeechRecognition crash in Firefox breaking entire app
  app/client/app.js
  app/client/index.html
  app/client/style.css
  playwright.config.js
  tests/e2e/cart.spec.js
  tests/e2e/comprehensive.spec.js
  tests/e2e/products.spec.js
  tests/e2e/search.spec.js
  tests/e2e/visual.spec.js
  tests/e2e/visual.spec.js-snapshots/cart-open-firefox-darwin.png
  tests/e2e/visual.spec.js-snapshots/homepage-chromium-darwin.png
  tests/e2e/visual.spec.js-snapshots/homepage-firefox-darwin.png
Due: prettier

Update gitignore
  .gitignore
Due: none

Add worktree creation script for parallel Claude Code sessions
  scripts/create_worktree.py
Due: none

Replace placeholder images with product-matching Unsplash photos
  app/server/core/db.py
Due: pyright-server, pytest-server

Add ElevenLabs Scribe v2 voice transcription with silence detection
  app/client/app.js
  app/server/.env.sample
  app/server/core/models.py
  app/server/core/transcribe.py
  app/server/pyproject.toml
  app/server/server.py
  app/server/tests/test_transcribe.py
  app/server/uv.lock
  tests/e2e/visual.spec.js-snapshots/cart-open-chromium-darwin.png
  tests/e2e/visual.spec.js-snapshots/cart-open-firefox-darwin.png
  tests/e2e/visual.spec.js-snapshots/homepage-chromium-darwin.png
  tests/e2e/visual.spec.js-snapshots/homepage-firefox-darwin.png
  tests/e2e/voice.spec.js
Due: pyright-server, pytest-server, prettier

Fix dotenv loading and improve ElevenLabs error handling
  app/server/core/transcribe.py
  app/server/server.py
  app/server/tests/test_transcribe.py
Due: pyright-server, pytest-server

Fix ElevenLabs realtime STT and add Alt push-to-talk
  CLAUDE.md
  app/client/app.js
  app/client/audio-processor.js
  app/client/index.html
  app/client/style.css
  app/server/core/models.py
  app/server/core/transcribe.py
  app/server/server.py
  app/server/tests/test_transcribe.py
  tests/e2e/visual.spec.js-snapshots/cart-open-chromium-darwin.png
  tests/e2e/visual.spec.js-snapshots/cart-open-firefox-darwin.png
  tests/e2e/visual.spec.js-snapshots/homepage-chromium-darwin.png
  tests/e2e/visual.spec.js-snapshots/homepage-firefox-darwin.png
  tests/e2e/voice.spec.js
Due: pyright-server, pytest-server, prettier

Add SVG microphone favicon in brand purple
  app/client/index.html
Due: prettier

Add semantic vector search and clean voice transcript punctuation
  app/client/app.js
  app/server/.env.sample
  app/server/core/embeddings.py
  app/server/core/search.py
  app/server/pyproject.toml
  app/server/server.py
  app/server/tests/conftest.py
  app/server/tests/test_search.py
  app/server/uv.lock
  tests/e2e/search.spec.js
  tests/e2e/voice.spec.js
Due: pyright-server, pytest-server, prettier

Improve worktree isolation and cache embeddings to disk
  app/server/core/embeddings.py
  playwright.config.js
  scripts/create_worktree.py
Due: pyright-server, pytest-server

Allow Alt push-to-talk when search input is focused
  app/client/app.js
  tests/e2e/voice.spec.js
Due: prettier

Sync search results with pre-filled input on page load
  app/client/app.js
Due: prettier

Add Render Blueprint with dev/prod environment separation
  app/server/.env.sample
  app/server/server.py
  render.yaml
Due: pyright-server, pytest-server

Fix render.yaml Blueprint syntax for envVarGroups
  render.yaml
Due: none

Simplify render.yaml to minimal config for debugging
  render.yaml
Due: none

Fix render.yaml: use uv build command and remove invalid $PORT interpolation
  render.yaml
Due: none

Add Sentry error monitoring to frontend and backend
  app/client/sentry.js
  app/server/server.py
Due: pyright-server, pytest-server, prettier

Run direnv allow after creating worktree
  scripts/create_worktree.py
Due: none

Fix CI/CD pipeline: install Firefox, skip visual tests, add embeddings cache
  .github/workflows/ci.yml
  .gitignore
  app/server/db/embeddings_7345ba6b922ba858.npz
  tests/e2e/visual.spec.js
Due: none

Fix remaining Firefox CI failures: increase search timeouts, skip flaky voice mocks
  tests/e2e/comprehensive.spec.js
  tests/e2e/voice.spec.js
Due: none

Fix CI/CD pipeline: Firefox, visual tests, embeddings cache (#4)
  .github/workflows/ci.yml
  .gitignore
  app/server/db/embeddings_7345ba6b922ba858.npz
  tests/e2e/comprehensive.spec.js
  tests/e2e/visual.spec.js
  tests/e2e/voice.spec.js
Due: none

feat: add cron-based Sentry poller with worktree isolation and autonomous fix agent
  autopilot/.env.sample
  autopilot/agents/code_fix_agent.py
  autopilot/agents/code_review_agent.py
  autopilot/agents/security_agent.py
  autopilot/models/__init__.py
  autopilot/models/sentry_issue.py
  autopilot/modules/worktree_ops.py
  autopilot/pipeline.py
  autopilot/poller.py
  autopilot/pyproject.toml
  autopilot/tests/test_code_fix_agent.py
  autopilot/tests/test_poller.py
  autopilot/tests/test_sentry_issue.py
  autopilot/tests/test_worktree_ops.py
  autopilot/uv.lock
  autopilot/webhook_server.py
  scripts/start_poller.sh
Due: pyright-autopilot, pytest-autopilot

fix: add pytest-asyncio to autopilot dev deps to fix CI
  autopilot/pyproject.toml
  autopilot/uv.lock
Due: none

feat: dark editorial redesign with warm amber accent palette
  app/client/index.html
  app/client/style.css
  tests/e2e/visual.spec.js-snapshots/cart-open-chromium-darwin.png
  tests/e2e/visual.spec.js-snapshots/cart-open-firefox-darwin.png
  tests/e2e/visual.spec.js-snapshots/homepage-chromium-darwin.png
  tests/e2e/visual.spec.js-snapshots/homepage-firefox-darwin.png
Due: prettier

Extract Sentry signature verification into reusable module
  autopilot/modules/signature.py
  autopilot/tests/conftest.py
  autopilot/tests/test_signature.py
  autopilot/tests/test_webhook_server.py
  autopilot/webhook_server.py
Due: pyright-autopilot, pytest-autopilot

docs: add Sentry internal integration setup guide to PLAN.md
  PLAN.md
Due: none

feat: LLM-powered voice search extraction with rating filter
  app/client/app.js
  app/client/index.html
  app/server/core/db.py
  app/server/core/llm_extraction.py
  app/server/core/models.py
  app/server/core/transcribe.py
  app/server/db/embeddings_7345ba6b922ba858.npz
  app/server/pyproject.toml
  app/server/server.py
  app/server/tests/test_transcribe.py
  app/server/uv.lock
  tests/e2e/visual.spec.js-snapshots/cart-open-chromium-darwin.png
  tests/e2e/visual.spec.js-snapshots/cart-open-firefox-darwin.png
  tests/e2e/visual.spec.js-snapshots/homepage-chromium-darwin.png
  tests/e2e/visual.spec.js-snapshots/homepage-firefox-darwin.png
  tests/e2e/voice.spec.js
Due: pyright-server, pytest-server, prettier

fix: guard /sentry-debug endpoint from production exposure
  app/server/server.py
Due: pyright-server, pytest-server

fix: clear commitTimeoutId in stopListening and add missing test mocks
  app/client/app.js
  tests/e2e/voice.spec.js
Due: prettier

fix: filter out Sentry test/example exceptions from autopilot pipeline
  autopilot/poller.py
  autopilot/webhook_server.py
Due: pyright-autopilot, pytest-autopilot

fix: handle /sentry-debug exception gracefully instead of crashing
  app/server/server.py
Due: pyright-server, pytest-server

fix: disable /sentry-debug endpoint in production
  app/server/server.py
Due: pyright-server, pytest-server

fix: ensure database tables exist before queries to prevent OperationalError
  app/server/core/db.py
Due: pyright-server, pytest-server

fix: guard /sentry-debug endpoint to prevent ZeroDivisionError in production
  app/server/server.py
Due: pyright-server, pytest-server

feat: expand product catalog to 61 items and fix search+filter interaction
  CLAUDE.md
  app/client/app.js
  app/server/core/db.py
  app/server/db/embeddings_7345ba6b922ba858.npz
  app/server/db/embeddings_be4ea2eba3bd9c47.npz
  tests/e2e/comprehensive.spec.js
  tests/e2e/products.spec.js
  tests/e2e/visual.spec.js-snapshots/homepage-chromium-darwin.png
  tests/e2e/visual.spec.js-snapshots/homepage-firefox-darwin.png
  tests/e2e/voice.spec.js
Due: pyright-server, pytest-server, prettier

fix: handle ZeroDivisionError in /sentry-debug endpoint gracefully
  app/server/server.py
Due: pyright-server, pytest-server

Path conditions:
  pyright-server: any of: ^app/server/ and \.py$
  pyright-autopilot: any of: ^autopilot/ and \.py$
  pytest-server: any of: ^app/server/ and \.py$
  pytest-autopilot: any of: ^autopilot/ and \.py$
  prettier: any of: ^app/client/ and \.(js|mjs|cjs)$, \.css$, \.(html|htm|xhtml)$
