Repository yorrick/voxstore: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright-server, pyright-autopilot, pytest-server, pytest-autopilot, prettier

.pre-commit-config.yaml:

default_language_version:
  python: python3.10
default_install_hook_types: [pre-commit]
default_stages: [pre-commit]

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.9.9
  hooks:
    - id: ruff
      types_or: [ python, pyi ]
      args: [ --fix ]
    - id: ruff-format
      types_or: [ python, pyi ]

- repo: local
  hooks:
    - id: pyright-server
      name: pyright (server)
      entry: bash -c 'unset VIRTUAL_ENV && cd app/server && uv run pyright'
      language: system
      types: [python]
      pass_filenames: false
      files: ^app/server/

    - id: pyright-autopilot
      name: pyright (autopilot)
      entry: bash -c 'unset VIRTUAL_ENV && cd autopilot && uv run pyright'
      language: system
      types: [python]
      pass_filenames: false
      files: ^autopilot/

    - id: pytest-server
      name: pytest (server)
      entry: bash -c 'unset VIRTUAL_ENV && cd app/server && uv run pytest -x -q'
      language: system
      types: [python]
      pass_filenames: false
      files: ^app/server/

    - id: pytest-autopilot
      name: pytest (autopilot)
      entry: bash -c 'unset VIRTUAL_ENV && cd autopilot && uv run pytest -x -q'
      language: system
      types: [python]
      pass_filenames: false
      files: ^autopilot/

    - id: prettier
      name: prettier (frontend)
      entry: npx prettier --write --check
      language: system
      types_or: [javascript, css, html]
      files: ^app/client/

fix: update LLM extraction models to stable Gemini 2.5 Flash with Haiku 4.5 fallback
  app/server/core/llm_extraction.py
Due: pyright-server, pytest-server

fix: autopilot CI check polling and agent reliability improvements
  .mcp.json
  CLAUDE.md
  TUNNEL.md
  autopilot/.env.sample
  autopilot/agents/agent_logging.py
  autopilot/agents/code_fix_agent.py
  autopilot/agents/code_review_agent.py
  autopilot/agents/security_agent.py
  autopilot/modules/github_ops.py
  autopilot/modules/logging.py
  autopilot/modules/signature.py
  autopilot/pipeline.py
  autopilot/poller.py
  autopilot/tests/test_poller.py
  autopilot/tests/test_webhook_server.py
  autopilot/webhook_server.py
  scripts/start_autopilot.sh
  scripts/start_poller.sh
Due: pyright-autopilot, pytest-autopilot

fix: handle ZeroDivisionError in /sentry-debug endpoint gracefully
  app/server/server.py
Due: pyright-server, pytest-server

fix: deduplicate webhook pipelines and use terminal CI states
  autopilot/pipeline.py
  autopilot/webhook_server.py
Due: pyright-autopilot, pytest-autopilot

fix: increase E2E test timeouts to reduce CI flakiness
  tests/e2e/search.spec.js
  tests/e2e/voice.spec.js
Due: none

fix: move database init to FastAPI lifespan to prevent 'no such table' errors
  app/server/server.py
  app/server/tests/conftest.py
Due: pyright-server, pytest-server

fix: ensure database tables exist before queries to prevent OperationalError
  app/server/core/db.py
Due: pyright-server, pytest-server

fix: move database init to FastAPI lifespan to prevent missing table errors
  app/server/server.py
  app/server/tests/conftest.py
Due: pyright-server, pytest-server

fix: gate Sentry initialization on Render environment
  app/server/server.py
Due: pyright-server, pytest-server

fix: replace broken and mismatched product image URLs in seed data
  app/server/core/db.py
Due: pyright-server, pytest-server

ci: cancel in-progress CI runs when new commits are pushed
  .github/workflows/ci.yml
Due: none

chore: update embeddings cache for new product image URLs
  app/server/db/embeddings_be4ea2eba3bd9c47.npz
Due: none

feat: add search quality monitoring log
  app/server/core/search.py
Due: pyright-server, pytest-server

chore: use Opus 4.6 for all autopilot agents and remove unused legacy agents
  autopilot/agents/code_fix_agent.py
  autopilot/agents/code_review_agent.py
  autopilot/agents/fix_agent.py
  autopilot/agents/review_agent.py
  autopilot/agents/security_agent.py
Due: pyright-autopilot, pytest-autopilot

fix: improve voice search NLP to infer category and rating from context
  app/server/core/llm_extraction.py
Due: pyright-server, pytest-server

docs: add project README
  README.md
Due: none

fix: improve search relevance by raising similarity threshold and capping results
  app/server/core/embeddings.py
  app/server/core/search.py
  app/server/tests/test_search.py
Due: pyright-server, pytest-server

docs: use GitHub-hosted video URL in README
  README.md
Due: none

Introduce a bug
  app/server/core/search.py
Due: pyright-server, pytest-server

fix: resolve KeyError 'score' in search quality monitoring log
  app/server/core/search.py
Due: pyright-server, pytest-server
